.timeline {
    padding-top: 80px;
    padding-bottom: 33px;

    @media (max-width: 1139px) {
      padding-bottom: 25px;
    }

    @media (max-width: 899px) {
      padding-top: 36px;
      padding-bottom: 3px;
    }

    @media (max-width: 767px) {
      padding-bottom: 27px;
    }
}

.timeline-header {
    text-align: center;
}

.timeline-wrapper {
    width: 850px;
    margin: 0 auto;
    margin-top: 65px;

    @media (max-width: 1139px) {
      width: 774px;
      margin-top: 50px;
    }

    @media (max-width: 899px) {
      width: 326px;
      margin-top: 36px;
    }
}

.timeline-item {
    position: relative;
    width: 50%;
    padding-bottom: 60px;
    color: #000;

    &::before, &::after {
        position: absolute;
        content: "";
    }

    &::before {
        width: 4px;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        background-color: #e1eef4;
    }

    &::after {
        top: 0;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 4px solid rgb(225, 238, 244);
        background-color: #fff;
    }

    @media (max-width: 899px) {
      width: 340px;
    }

    @media (max-width: 767px) {
      width: 309px;
      padding-bottom: 51px;
    }
}

.grad {
    display: inline;
    background-position: center bottom 6px;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-image: linear-gradient(to right, #fbdc4d, #fbdc4d);
}

.timeline-item:last-child::before {
    display: none;
}

.timeline-item:nth-child(odd) {
    padding-right: 56px;
    text-align: right;

    @media (max-width: 899px) {
      text-align: left;
      padding-right: 0;
    }
}

.timeline-item:nth-child(even) {
    text-align: left;
}

.timeline-item:nth-child(odd)::before {
    right: -2px;

    @media (max-width: 899px) {
      left: -14px;
    }

    @media (max-width: 767px) {
      left: 17px;
    }
}

.timeline-item:nth-child(odd)::after {
    right: -17px;

    @media (max-width: 899px) {
      left: -28px;
    }

    @media (max-width: 767px) {
      left: 0;
    }
}

.timeline-item:nth-child(even) {
    margin-left: auto;
    padding-left: 56px;

    @media (max-width: 899px) {
      padding-left: 0;
      margin-left: 0;
    }
}

.timeline-item:nth-child(even)::before {
    left: -2px;

    @media (max-width: 899px) {
      left: -14px;
    }

    @media (max-width: 767px) {
      left: 17px;
    }
}

.timeline-item:nth-child(even)::after {
    left: -17px;

    @media (max-width: 899px) {
      left: -28px;
    }

    @media (max-width: 767px) {
      left: 0;
    }
}

.timeline-item__content {
    @media (max-width: 899px) {
      margin-left: 16px;
    }

    @media (max-width: 767px) {
      margin-left: 44px;
    }
}

.timeline-item__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

    @media (max-width: 1139px) {
      font-size: 20px;
    }
}

.timeline-item p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 8px;

    @media (max-width: 1139px) {
      margin-top: 7px;
      font-size: 14px;
      margin-bottom: 10px;
    }
}

.timeline-item span {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;

    @media (max-width: 767px) {
      font-size: 14px;
    }
}

